<h1>Список картин</h1>
<a href="{% url 'index' %}">На главную</a>
<a href="{% url 'painting_add' %}">Добавить картину</a>
<table>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Год создания</th>
        <th>Художник</th>
        <th>Музей</th>
        <th>Действия</th>
    </tr>
    {% for painting in paintings %}
    <tr>
        <td>{{ painting.id }}</td>
        <td>{{ painting.name }}</td>
        <td>{{ painting.creating_year }}</td>
        <td>{{ painting.artist }}</td>
        <td>{{ painting.museum }}</td>
        <td><a href="{% url 'painting_edit' painting.id %}">Редактировать</a> | <a href="{% url 'painting_delete' painting.id %}">Удалить</a></td>
    </tr>
    {% endfor %}
</table>
