<h1>Список художников</h1>
<a href="{% url 'index' %}">На главную</a>
<a href="{% url 'artist_add' %}">Добавить художника</a>
<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Дата рождения</th>
    </tr>
    {% for artist in artists %}
    <tr>
        <td>{{ artist.id }}</td>
        <td>{{ artist.name }}</td>
        <td>{{ artist.surname }}</td>
        <td>{{ artist.birth_date }}</td>
        <td><a href="{% url 'artist_edit' artist.id %}">Редактировать</a>| <a href="{% url 'artist_delete' artist.id %}">Удалить</a></td></td>
    </tr>
    {% endfor %}
</table>
